<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings> 
    <add key="sourcePath" value=""/>
    <add key="targetPath" value="C:\Users\tmeng\Desktop\新しいフォルダー\backup\"/>
    <add key="constr" value="C:\\Users\\tmeng\\Desktop\\新しいフォルダー"/>
    <add key="connString" value="Data Source = ＊＊＊＊＊＊＊;Initial Catalog=dbGarageMan; Integrated Security = False; User ID = ＊＊＊; Password =＊＊＊; Connect Timeout = 15; Encrypt = False; TrustServerCertificate = True; ApplicationIntent = ReadWrite; MultiSubnetFailover = False"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>